* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  color: #CCC1FF;
}

p {
  margin: .8em 0;
}

.container {
  width: 87%;
  max-width: 820px;
  margin: 0 auto; 
  border: 5px solid #fdf6f6;
  border-radius: 4px;
  min-height: 90vh;
  background-color: #1F2937;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #059669;
  padding: 1.5em 3em;
  margin: 0;
  text-align: center;
  min-height: 35vh;
}

.section-two {
  padding: 3em 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 55vh;
}

.input {
  display: block;
  background-color: #059669;
  color: #fff;
  border: 1px solid #15bd87;
  width: 100px;
  font-size: 2rem;
  padding: .5em 1em;
  margin: .5em 0;
  font-weight: 700;
  object-fit: contain;
  text-align: center;
  outline: none;
}

.btn {
  display: flex;
}

button {
  font-size: 1.2rem;
  color: #1F2937;
  border: 1px solid #1F2937;
  margin-top: 1em;
  margin-right: 1em;
  padding: .5em 2em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: .5s;
}

button:hover, 
button:focus {
 background-color: #059669;
 border: 1.5px solid #fff;
 color: #fff;
}

.wrap {
  background-color: #273549;
  padding: 1em 0;
}

@media (max-width: 400px) {
  .title,
  .subtitle,
  .input {
    font-size: 1.2rem;
  }

  p {
    font-size: .9rem;
  }

  .container {
    min-height: 50vh;
  }

  .section-two {
    padding: 1.5em;
  }

 button {
    margin-left: 1em;
    margin-top: .5em;
 }

  .btn {
   flex-direction: column;
  }

}